# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Install files
RL-GLUE/c-codec-2.0/*
RL-GLUE/rlglue-3.04/*

# ctags
tags

# vim
*.swp

*.xcode*

outputs
