environments/bandits/BanditEnvironment
environments/mines/MinesEnvironment
environments/tictactoe/TictactoeEnvironment
environments/chain/ChainEnvironment
environments/contextbandit/ContextBanditEnvironment
environments/loop/LoopEnvironment
environments/connectfour/ConnectfourEnvironment
agent/LibRLAgent
MyExperiment
